<div class="grid-item @cell.Colour">
    <div>@(cell?.ChessPiece?.Name)</div>
</div>

@code {
    [Parameter]
    public Cell cell { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }
}