@page "/uiboard"

@using BlazorChess.Data
@inject ChessLibraryHelper chessHelper
@inject ChessBoard injectedChessBoard

<button class="btn btn-primary" @onclick="PlacePiece">Click me</button>

<div class="grid-container">
    @{
        for (int y = 8 - 1; y >= 0; y--)
        {
            for (int x = 0; x < 8; x++)
            {
                <CellComponent cell="@(injectedChessBoard.BoardState[x,y])" OnClick="@GetLegalMoves"></CellComponent>
            }
        }
    }
</div>
@code {
    Cell[,] boardState;

    protected override void OnInitialized()
    {
        injectedChessBoard.Init();
    }
    public void PlacePiece()
    {
        injectedChessBoard.PlacePiece(3, 4, new King(ConsoleColor.Black));
    }
    private void GetLegalMoves(string position)
    {
        var splitString = position.ToCharArray();
        var file = splitString[0].ToString();
        var rank = splitString[1].ToString();
        var x = (int)Enum.Parse<ChessLibrary.File>(file, true);
        int y = int.Parse(rank);
        Console.WriteLine(position);
        injectedChessBoard.GetLegalMoves(x, y);
        StateHasChanged();
    }

}