@page "/uiboard"

@using BlazorChess.Data
@inject ChessLibraryHelper chessHelper
@inject ChessBoard injectedChessBoard

<button class="btn btn-primary" @onclick="PlacePiece">Click me</button>

<div class="grid-container">
    @{
        for (int y = 8 - 1; y >= 0; y--)
        {
            for (int x = 0; x < 8; x++)
            {
                <CellComponent cell="@(injectedChessBoard.BoardState[x,y])"></CellComponent>
            }
        }
    }
</div>
@code {
    Cell[,] boardState;

    protected override void OnInitialized()
    {
        boardState = chessHelper.GetBoardState();
        injectedChessBoard.Init();
    }
    public void PlacePiece()
    {
        injectedChessBoard.PlacePiece(3, 4, new King(ConsoleColor.Black));
    }

}